<nav class="navbar navbar-dark fixed-top navbar-expand-md navbar-no-bg">
    <div class="container">
        <a class="navbar-brand" href="index.html">Rory Standley</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="#top-content">Top</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="#about-us">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="#portfolio">Work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="#testimonials">Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="#blog">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
