.top-content {
  background: #16a085;
  padding: 210px 0;

  .description {
    margin: 30px 0 10px 0;

    p {
      opacity: 0.8;
    }
  }

  .text {
    color: #fff;

    h1 {
      margin-top: 25px;

    }
  }

  .top-big-link {
    margin-top: 45px;

  }
}
