<div class="top-content">
    <div class="container">

        <div class="row">
            <div class="col-md-8 offset-md-2 text">
                <h1 class="wow fadeInLeftBig">Text for me</h1>
                <div class="description wow fadeInLeftBig">
                    <p>
                        This is a blurb of text
                    </p>
                </div>
                <!--<div class="top-big-link wow fadeInUp">-->
                    <!--<a class="btn btn-primary btn-link-1" href="http://azmind.com">Download it</a>-->
                    <!--<a class="btn btn-primary btn-link-2 scroll-link" href="#services">Learn more</a>-->
                <!--</div>-->
            </div>
        </div>

    </div>
</div>
