<div class="top-content" id="top-content">
    <div class="container">

        <div class="row">
            <div class="col-md-8 offset-md-2 text">
                <h1 class="wow fadeInLeftBig">Web Developer.</h1>
                <div class="description wow fadeInLeftBig">
                    <p>
                        Amongst other things...
                    </p>
                </div>
                <div class="top-big-link wow fadeInUp">
                    <a class="btn btn-primary btn-link-1" href="https://twitter.com/rorystandley">Download it</a>
                    <a class="btn btn-primary btn-link-2 scroll-link" href="#services">Learn more</a>
                </div>
            </div>
        </div>

    </div>
</div>
