<div class="portfolio-container section-container" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col portfolio section-description wow fadeIn">
                <h2>Portfolio</h2>
                <div class="divider-1 wow fadeInUp"><span></span></div>
                <p>Here is some of my recent work</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 portfolio-box wow fadeInUp">
                <div class="portfolio-box-image">
                    <img src="assets/img/portfolio/1.jpg" alt="" data-at2x="assets/img/portfolio/1.jpg">
                </div>
                <h3><a href="#">Acme branding</a> <i class="fas fa-angle-right"></i></h3>
                <div class="portfolio-box-date"><i class="far fa-calendar"></i> March 2018</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et.</p>
            </div>
            <div class="col-md-4 portfolio-box wow fadeInDown">
                <div class="portfolio-box-image">
                    <img src="assets/img/portfolio/2.jpg" alt="" data-at2x="assets/img/portfolio/2.jpg">
                </div>
                <h3><a href="#">WordPress design</a> <i class="fas fa-angle-right"></i></h3>
                <div class="portfolio-box-date"><i class="far fa-calendar"></i> February 2018</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et.</p>
            </div>
            <div class="col-md-4 portfolio-box wow fadeInUp">
                <div class="portfolio-box-image">
                    <img src="assets/img/portfolio/3.jpg" alt="" data-at2x="assets/img/portfolio/3.jpg">
                </div>
                <h3><a href="#">Created 150 flyers</a> <i class="fas fa-angle-right"></i></h3>
                <div class="portfolio-box-date"><i class="far fa-calendar"></i> January 2018</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et.</p>
            </div>
        </div>
        <div class="row">
            <div class="col section-bottom-button wow fadeInUp">
                <a class="btn btn-primary btn-link-3" href="#">Load more</a>
            </div>
        </div>
    </div>
</div>
