@import "../../../../styles/abstracts/variables";

.portfolio-box {
  padding-top: 30px;
  text-align: left;
}

.portfolio-box-image {
  border-radius: 4px;
  overflow: hidden;
  max-height: 232px;
}

.portfolio-box-image img {
  transition: all .8s;
}

.portfolio-box-image:hover img {
  transform: scale(1.25);
}

.portfolio-box h3 {
  margin-top: 30px;
}

.portfolio-box h3 a {
  border: 0;
  color: $dark-grey;
}

.portfolio-box h3 a:hover,
.portfolio-box h3 a:focus {
  color: $primary;
}

.portfolio-box h3 i {
  padding-left: 10px;
  color: #ccc;
  transition: all .3s;
}

.portfolio-box h3:hover i {
  padding-left: 15px;
}
