<div class="portfolio-container section-container" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col portfolio section-description wow fadeIn">
                <h2>Portfolio</h2>
                <div class="divider-1 wow fadeInUp"><span></span></div>
                <p>Here is some of my recent work</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 portfolio-box wow fadeInUp">
                <div class="portfolio-box-image">
                    <img src="assets/images/portfolio/asteroid.jpg">
                </div>
                <h3><a href="https://apps.apple.com/au/app/asteroid-blaster/id588200843" target="_blank">Asteroid
                    Blaster</a></h3>
                <p>Launch your space rocket and blast your way through each wave of asteroids plummeting towards the
                    planet!</p>
                <p>A retro asteroid game, built using HTML Canvas and JS.</p>
            </div>
            <div class="col-md-4 portfolio-box wow fadeInDown">
                <div class="portfolio-box-image">
                    <img src="assets/images/portfolio/pirate-ships.png">
                </div>
                <h3><a href="https://www.amazon.co.uk/Rory-Standley-Pirate-Ships/dp/B078X23JR6/" target="_blank">Pirate
                    Ships</a></h3>
                <p>Amazon Alexa skill - pirate ships is a game of guess for two players; take it in turns with Alexa to
                    fire shots on a board and hope to sink the other players ships.</p>
            </div>
            <div class="col-md-4 portfolio-box wow fadeInUp">
                <div class="portfolio-box-image">
                    <img src="assets/images/portfolio/hailhail.jpg">
                </div>
                <h3><a href="https://hailhail.club" target="_blank">Hail Hail</a></h3>
                <p>A Celtic F.C. news aggregator website, built using WordPress with a <a href="https://nestjs.com/" target="_blank">NestJS</a> application handling the
                    scraping and API for the website.</p>
            </div>
        </div>
    </div>
</div>
