$base-size: 16;

$default-font-stack: (
        'Open Sans',
        sans-serif,
);

$secondary-font-stack: (
        'Montserrat',
        sans-serif
);

// Colours
$light-grey: '#888';
$dark-grey: '#555';
$link-color: '#9b59b6';
