$base-size: 16;

$default-font-stack: (
        'Open Sans',
        sans-serif,
);

$secondary-font-stack: (
        'Montserrat',
        sans-serif
);

// Colours
$primary: #16a085;
$light-grey: '#888';
$dark-grey: #555;
$link-color: #16a085;
