<!--====== FOOTER AREA ======-->
<footer class="footer">
		<div class="container">
			<div class="row wow zoomIn" data-wow-delay="0.4s">
				<div class="col-md-12 text-center">
					<p>&copy;2017 <strong>{{ site.title }}</strong>. All Rights Reserved</p>
				</div>
			</div>
		</div>
	</footer>
	<!--====== END FOOTER AREA ======-->

	<!--== jQuery ==-->
	<script src="/js/jquery-2.1.4.min.js"></script>
	
	<!--== plugins js ==-->
	<script src="/js/plugins.js"></script>
	
	<!--== typed js ==-->
	<script src="/js/typed.js"></script>
	
	<!--== stellar js ==-->
	<script src="/js/jquery.stellar.min.js"></script>
	
	<!--== inview js ==-->
	<script src="/js/jquery.inview.min.js"></script>
	
	 <!--== wow js ==-->
	<script src="/js/wow.min.js"></script>
	
	 <!--== validator js ==-->
	<script src="/js/validator.min.js"></script>
	
	 <!--== mixitup js ==-->
	<script src="/js/jquery.mixitup.js"></script>
	
	 <!--== contact js ==-->
	<script src="/js/contact.js"></script>
	
	 <!--== main js ==-->
	<script src="/js/main.js"></script>
</body>
</html>