<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5 footer-left">
                <p>&copy; Rory Standley.</p>
            </div>

            <div class="col-md-6 offset-md-1 footer-right">
                <a href="https://twitter.com/rorystandley" target="_blank">
                    <app-social-icon type="twitter"></app-social-icon>
                </a>
                <a href="https://www.linkedin.com/in/rstandley" target="_blank">
                    <app-social-icon type="linkedIn"></app-social-icon>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col footer-bottom">
                <a class="scroll-link" (click)="scrollerService.scroll('#top-content')">
                    <fa-icon [icon]="chevron"></fa-icon>
                </a>
            </div>
        </div>
    </div>
</footer>
