<div class="blog-container section-container section-container-gray-bg">
    <div class="container">

        <div class="row">
            <div class="col blog section-description wow fadeIn">
                <h2>The Blog</h2>
                <div class="divider-1 wow fadeInUp"><span></span></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 blog-box wow fadeInLeft">
                <div class="row">
                    <div class="col-md-3">
                        <div class="blog-box-image">
                            <img src="assets/img/blog/1.jpg" alt="" data-at2x="assets/img/blog/1.jpg">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h3><a href="#">Ut wisi enim ad minim</a> <i class="fas fa-angle-right"></i></h3>
                        <div class="blog-box-date"><i class="far fa-calendar"></i> 17 September 2018</div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 blog-box wow fadeInLeft">
                <div class="row">
                    <div class="col-md-3">
                        <div class="blog-box-image">
                            <img src="assets/img/blog/2.jpg" alt="" data-at2x="assets/img/blog/2.jpg">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h3><a href="#">Sed do eiusmod tempor</a> <i class="fas fa-angle-right"></i></h3>
                        <div class="blog-box-date"><i class="far fa-calendar"></i> 13 August 2018</div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 blog-box wow fadeInLeft">
                <div class="row">
                    <div class="col-md-3">
                        <div class="blog-box-image">
                            <img src="assets/img/blog/3.jpg" alt="" data-at2x="assets/img/blog/3.jpg">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h3><a href="#">Quis nostrud exerci tat</a> <i class="fas fa-angle-right"></i></h3>
                        <div class="blog-box-date"><i class="far fa-calendar"></i> 26 July 2018</div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 blog-box wow fadeInLeft">
                <div class="row">
                    <div class="col-md-3">
                        <div class="blog-box-image">
                            <img src="assets/img/blog/4.jpg" alt="" data-at2x="assets/img/blog/4.jpg">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h3><a href="#">Minim veniam quis nostrud</a> <i class="fas fa-angle-right"></i></h3>
                        <div class="blog-box-date"><i class="far fa-calendar"></i> 09 June 2018</div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col section-bottom-button wow fadeInUp">
                <a class="btn btn-primary btn-link-3" href="#">Visit the blog</a>
            </div>
        </div>

    </div>
</div>
