{% include header.html %} {% include main-header.html %}
<!--======= WELCOME AREA =======-->
<div id="home" class="welcome-area">
    <div class="welcome-table">
        <div class="welcome-cell">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="welcome-text">
                            <h1 class="element"></h1>
                            <div class="social-link">
                                <ul>
                                    <li>
                                        <a class="facebook-color theme-color"
                                           href="https://facebook.com/{{site.facebook_username}}" target="_blank">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="twitter-color theme-color"
                                           href="https://twitter.com/{{site.twitter_username}}" target="_blank">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="linkedin-color theme-color"
                                           href="https://www.linkedin.com/in/{{site.linkedin_username}}"
                                           target="_blank">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="home-arrow">
                            <a href="#about" class="smoth-scroll theme-color">
                                <i class="fa fa-angle-double-down"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!--/.row-->
            </div>
            <!--/.container-->
        </div>
    </div>
</div>
<!--===== END WELCOME AREA =====-->


<!--===== ABOUT AREA =====-->
<div id="about" class="about-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="author-image">
                    <img src="/img/author.jpg" alt="Author Image">
                    <!--=== author image ===-->
                </div>
            </div>

            <div class="col-md-7">
                <div class="about-text">
                    <h4>Hello, my name is Rory and I am a full stack
                        <span class="theme-color">web developer</span>.
                    </h4>
                    <p>I started out some 10 years ago, building websites and mainly working with PHP. Progressing
                        through the years to not
                        just working with vanilla PHP but the various frameworks from CodeIgnitor to Laravel for a
                        number of web applications
                        and WordPress for the many websites that I have and still work(ed) on.</p>
                    <p>Fast forward a number of years and I branched out and left my comfort zone, joining the front end
                        developers. Adding
                        to the skills I already had with HTML, CSS/3 &amp; JS. Working with such frameworks as
                        AngularJS.</p>
                    <p>I am currently working for
                        <span class="theme-color">Faber - On Demand Technology</span> creating a web application with
                        Angular 4 &amp; Cordova hybrid application utilising
                        the Ionic framework.</p>
                    <p>Oh... I love building hybrid apps! Especially ones with games. I have a couple of apps on the App
                        Store showcasing some
                        of the games I have made.</p>
                    <a class="btn theme-color smoth-scroll" href="#contact">Contact Me</a>
                    <a class="btn extra smoth-scroll" href="#work">Checkout My Projects</a>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</div>
<!--===== END ABOUT AREA =====-->


<!--===== SERVICES AREA =====-->
<div id="services" class="services-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h2>what i do.</h2>
                </div>
            </div>
        </div>
        <!--/.row-->

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="single-service theme-color text-center wow fadeInUp" data-wow-delay="0.2s">
                    <div class="service-img" style="background-image: url(/img/service/development.png) "></div>
                    <h3>web development</h3>
                    <p>Full stack development, from simple websites through to complex applications.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-service theme-color text-center wow fadeInUp" data-wow-delay="0.4s">
                    <div class="service-img" style="background-image: url(/img/service/mobile.png) "></div>
                    <h3>mobile development</h3>
                    <p>Hyrbid applications, using Cordova/Phonegap with vanilla JS or Ionic 2 &amp; Angular</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-service theme-color text-center wow fadeInUp" data-wow-delay="0.6s">
                    <div class="service-img" style="background-image: url(/img/service/design.png) "></div>
                    <h3>web design</h3>
                    <p>I live for the code; however, I am able to get my hands dirty with any design work.</p>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</div>
<!--====== END SERVICES AREA ======-->


<!--====== WORK AREA ======-->
<div id="work" class="work-area section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h2>recent work.</h2>
                    <p>Here's some of my recent work</p>
                </div>
            </div>
        </div>
        <!--/.row-->

        <div class="row">
            <ul class="work-list text-center">
                <li class="filter theme-color" data-filter="all">all</li>
                <li class="filter theme-color" data-filter=".webdevelopment">Web development</li>
                <li class="filter theme-color" data-filter=".mobiledevelopment">Mobile development</li>
                <li class="filter theme-color" data-filter=".alexadevelopment">Alexa development</li>
            </ul>
        </div>
        <!--/.row-->

        <div class="work-inner">
            <div class="row no-gutter">
                <div class="col-md-4 col-sm-6 mix webdevelopment">
                    <div class="single-work">
                        <img src="/img/work/dps.jpg" alt="">
                        <div class="item-hover">
                            <div class="work-table">
                                <div class="work-tablecell">
                                    <div class="hover-content">
                                        <div class="hover-text">
                                            <h4>DPS Tableware</h4>
                                            <p>A custom ecommerce website built using WordPress</p>
                                        </div>
                                        <div class="work-btn">
                                            <a class="work-popup theme-color" href="/img/work/dps.jpg">
                                                <i class="fa fa-search-plus"></i>
                                            </a>
                                            <a class="work-link theme-color" href="http://www.dpstableware.co.uk/"
                                               target="_blank">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mix webdevelopment">
                    <div class="single-work">
                        <img src="/img/work/gs.jpg" alt="">
                        <div class="item-hover">
                            <div class="work-table">
                                <div class="work-tablecell">
                                    <div class="hover-content">
                                        <div class="hover-text">
                                            <h4>Guardian Support</h4>
                                            <p>A website built using WordPress, heavily customised to the clients
                                                needs.</p>
                                        </div>
                                        <div class="work-btn">
                                            <a class="work-popup theme-color" href="/img/work/gs.jpg">
                                                <i class="fa fa-search-plus"></i>
                                            </a>
                                            <a class="work-link theme-color" href="www.guardiansupport.co.uk"
                                               target="_blank">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mix webdevelopment">
                    <div class="single-work">
                        <img src="/img/work/ssd.jpg" alt="">
                        <div class="item-hover">
                            <div class="work-table">
                                <div class="work-tablecell">
                                    <div class="hover-content">
                                        <div class="hover-text">
                                            <h4>Online Asbestos</h4>
                                            <p>A website built using WordPress and WooCommerce. Selling asbestos
                                                awareness and training courses.</p>
                                        </div>
                                        <div class="work-btn">
                                            <a class="work-popup theme-color" href="/img/work/ssd.jpg">
                                                <i class="fa fa-search-plus"></i>
                                            </a>
                                            <a class="work-link theme-color" href="https://www.onlineasbestos.co.uk/"
                                               target="_blank">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mix webdevelopment">
                    <div class="single-work">
                        <img src="/img/work/hailhail.jpg" alt="">
                        <div class="item-hover">
                            <div class="work-table">
                                <div class="work-tablecell">
                                    <div class="hover-content">
                                        <div class="hover-text">
                                            <h4>Hail Hail</h4>
                                            <p>A Celtic F.C. news aggregator website. Built using WordPress and NodeJS
                                                application pushing news articles.</p>
                                        </div>
                                        <div class="work-btn">
                                            <a class="work-popup theme-color" href="/img/work/hailhail.jpg">
                                                <i class="fa fa-search-plus"></i>
                                            </a>
                                            <a class="work-link theme-color" href="http://hailhail.club"
                                               target="_blank">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mix mobiledevelopment">
                    <div class="single-work">
                        <img src="/img/work/asteroid.jpg" alt="">
                        <div class="item-hover">
                            <div class="work-table">
                                <div class="work-tablecell">
                                    <div class="hover-content">
                                        <div class="hover-text">
                                            <h4>Asteroid Blaster</h4>
                                            <p>A retro asteroid game, built using HTML Canvas and JS.</p>
                                        </div>
                                        <div class="work-btn">
                                            <a class="work-popup theme-color" href="/img/work/asteroid.jpg">
                                                <i class="fa fa-search-plus"></i>
                                            </a>
                                            <a class="work-link theme-color"
                                               href="https://itunes.apple.com/gb/app/asteroid-blaster/id588200843?mt=8"
                                               target="_blank">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mix alexadevelopment">
                    <div class="single-work">
                        <img src="/img/work/alexa.jpg" alt="">
                        <div class="item-hover">
                            <div class="work-table">
                                <div class="work-tablecell">
                                    <div class="hover-content">
                                        <div class="hover-text">
                                            <h4>Amazon Alexa</h4>
                                            <p>A number of Alexa, skills that I have developed.</p>
                                        </div>
                                        <div class="work-btn">
                                            <a class="work-popup theme-color" href="/img/work/alexa.jpg">
                                                <i class="fa fa-search-plus"></i>
                                            </a>
                                            <a class="work-link theme-color"
                                               href="http://www.alexaskillstore.co.uk/developer/Rory-Standley"
                                               target="_blank">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.row-->
        </div>
    </div>
    <!--/.container-->
</div>
<!--====== END WORK AREA ======-->

<!--====== CONTACT INFO AREA ======-->
<div id="contact" class="contact-info-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h2>contact.</h2>
                </div>
            </div>
        </div>
        <!--/.row-->

        <div class="row">
            <div class="col-md-3 hidden-sm hidden-xs"></div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="contact-form">
                    <form id="contact-form" method="POST">
                        <div class="messages"></div>
                        <div class="controls">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="form_name" type="text" name="name" class="form-control"
                                               placeholder="Name*" required="required" data-error="Name is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="form_email" type="email" name="email" class="form-control"
                                               placeholder="Email*" required="required"
                                               data-error="Valid email is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea id="form_message" name="message" class="form-control"
                                                  placeholder="Message*" rows="7" required="required"
                                                  data-error="Please,leave us a message."></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-effect btn-sent theme-color contact-btn"
                                           value="Send message">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3"></div>

        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</div>
<!--===== END CONTACT INFO AREA ======-->

{% include footer.html %}