.about-me-box {
  margin-top: 100px;
}

.about-me-box-text {
  padding-right: 30px;
  text-align: left;
}

.about-me-box-text h3 {
  margin-top: 0;
}

.about-me-box-text .medium-paragraph {
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-me-box-img img {
  border-radius: 4px;
}
