<div class="about-me-container section-container section-container-gray-bg" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7 about-me-box wow fadeInLeft">
                <div class="about-me-box-text">
                    <h3>About Me</h3>
                    <p class="medium-paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et.
                        Ut wisi enim ad minim veniam, quis nostrud.
                        Exerci tation ullamcorper suscipit <a href="#">lobortis nisl</a> ut aliquip ex ea commodo
                        consequat.
                        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et.
                        Ut wisi enim ad minim veniam, quis nostrud.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-5 about-me-box wow fadeInUp">
                <div class="about-me-box-img">
                    <img src="assets/images/rory-standley.png" alt="About Me"
                         srcset="assets/images/rory-standley@2.png 2x, assets/images/rory-standley@3.png 3x">
                </div>
            </div>
        </div>
    </div>
</div>
