<div class="about-me-container section-container section-container-gray-bg" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7 about-me-box wow fadeInLeft">
                <div class="about-me-box-text">
                    <h3>The LinkedIn Spiel...</h3>
                    <p class="medium-paragraph">
                        I started out some 10+ years ago, building websites and mainly working with PHP & Coldfusion.
                        Progressing through the years to not just working with vanilla code but the various frameworks
                        from CodeIgnitor to Laravel for a number of web applications and WordPress for the many websites
                        that I have and still work(ed) on.
                    </p>

                    <p>
                        Fast forward a number of years and I branched out and left my comfort zone, joining the front
                        end
                        developers. Adding to the skills I already had with HTML, CSS & JS; Working with such frameworks
                        as Angular.
                    </p>

                    <p>
                        I am currently working for Faber - On Demand Technology creating a web application with Angular
                        & Cordova hybrid application utilising the Ionic framework. Oh... I love building hybrid apps!
                        Especially ones with games. I have a couple of apps on the App Store showcasing some of the
                        games I have made.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-5 about-me-box wow fadeInUp">
                <div class="about-me-box-img">
                    <img src="assets/images/about/rory-standley.png" alt="About Me"
                         srcset="assets/images/about/rory-standley@2.png 2x, assets/images/about/rory-standley@3.png 3x">
                </div>
            </div>
        </div>
    </div>
</div>
