@import "../abstracts/variables";

body {
  font-family: $default-font-stack;
  font-size: $base-size;
  font-weight: 300;
  color: $light-grey;
  line-height: 30px;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font-stack;
  font-weight: 300;
  color: $dark-grey;
}

a {
  cursor: pointer;

  &hover,
  &focus {
    color: $link-color;
    text-decoration: none;
    transition: all .3s;
  }
}
